
/*--------------------------------Main Settings--------------------------------*/

body
{
	background-color: #fafafa;
	color: #black;
    font-family: 'PT Sans', sans-serif; 
    font-size: 17px;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

.page {
 
    width: 100%;

}


.pageWithSidebar {
	
	max-width: calc(100% - 250px) !important; 
	
}


.pageWithSidebarMini {
	
	max-width: calc(100% - 80px) !important;
	
}


.pageWithoutSidebar {
	
	max-width: 100% !important;
	
}


h1
{
	color: black;
	font-weight: 400;
	font-size: 36px;
	margin: 20px;
}


/*---------------------------------Navbar---------------------------------*/

#navbarTop
{
	min-height: 57px;
	
}

.navbarMyColor {
	
	background: #0053AE;
}

#navbarTop ul li a:hover {
    color: #95A8F7;
    #background: #fff;  #8497E6  #95A8F7
}


.mirrorView {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
	
}

.sidebarToggler{
	background: #283454;
	
}


/*------------------------------Calendar Controls Bar------------------------------*/


#calendarControls {
	width: 100%;
	background-color: #fafafa;
	margin-top: 50px;
	border-bottom: 3px solid #283454;
}

#calendarControls:hover {

	background-color: #e0e0e0;
}

.calendarToggler {
	
	#background: #394565;
	background: #c8c8c8;
}

.mybutton{
	font-weight: bold;
	font-size: 20px;
	margin-top: 3px;
	#border: 1px solid black;
	
}


/*---------------------------------Footer---------------------------------*/
#footer
{
	font-size: 20px;
	background-color: #0053AE;
	text-align: center;
	#margin-top: 20px;
	padding: 10px;
}



/*------------------------------Sidebar------------------------------*/


#sidebar {
    min-width: 250px;
    max-width: 250px;
	color: #ffffff;
    min-height: 100vh;
	background: #283454;
    
    #transition: all 0.3s;
	

}

#sidebar .sidebarHeader {
	background: #283454;
    padding: 5px;
    
}

#sidebar .sidebarHeader img {
	width: 100%;
	height: auto;
}

#sidebarUser {
	background-color: #394565;
	font-size: 20px;
	letter-spacing: 2px;
    padding: 10px;
	text-align: center;

}

#sidebarClock {
	background-color: #394565;
	font-size: 30px;
	letter-spacing: 2px;
    padding: 10px;
	text-align: center;
	font-family: 'BenchNine', sans-serif;

}


#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    border-bottom: 1px solid #47748b;
	padding: 20px 0;
	
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
	top: 50%;
    right: 15px;
    position: absolute;

    transform: translateY(-50%);
}


#sidebar ul li a {
    font-size: 1.1em;
	padding: 12px;
    display: block;
	
	
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fafafa;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #394565;
		
}

a, a:hover, a:focus {
    text-decoration: none;
	color: inherit;
    transition: all 0.3s;
}


/*------------------------------Sidebar-mini------------------------------*/



.sidebarMini {
	min-width: 80px !important;
    max-width: 80px !important;
    
    transition: all 0.0s !important;
	text-align: center !important;
	
}


#sidebar.activeMini {
    margin-left: -80px;
	
	
}




/*------------------------------Section calendarView------------------------------*/

.calendarView
{
	text-align: center;
}

.calendarView img
{
	width: 100%;
	height: auto;
}

.calendarView figcaption
{
	margin-top: 8px;
}




/*------------------------------Calendar - week view------------------------------*/

.calendarWrapper {
	
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	
}

.calendarCnt {
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 70px;
	width: 98%;

	display: flex;
	
	overflow: auto;
	
}


.calendarHoursDescription {
	
	width: 80px;
	
}



.calendarWorkSpace {
	
	width: 100%; /* 100% of space left - the rest is used by div class calendarHoursDescription*/
	
}


.calendarHeader {
	
	width: 100%;


}


.calendarHeaderTitle {
	
	width: 100%;
	height: 40px; /* calendarEmptyCorner1 height must be equal to calendarHeaderTitle's height */
	#text-align: center;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	font-size: 20px;
	letter-spacing: 2px;
	
}


.calendarHeaderDayList {
	
	width: 100%;
	height: 30px; /* calendarEmptyCorner1 height must be equal to calendarHeaderDayList's height */
	line-height: 30px;
	
	#background: #ababab;
	font-size: 15px;
	font-weight: bold;
	
	display: flex;
	
	
}


/*For week view*/
.calendarHeaderDay {
	
	width: 14.2857%; 
	border-top: 1px solid #787878;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	
}


/*For day view*/
.calendarHeaderDay2 {
	
	width: 100%;
	min-width:300px; 
	border-top: 1px solid #787878;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	
}

.calendarMainView {
	
	width: 100%;
	display: flex;
}

/*For week view*/
.calendarDayColumn {
	
	width: 14.2857%; 

}
	
/*For day view*/
.calendarDayColumn2 {

	
	width: 100%; 
	min-width:300px;

}
	
.calendarDayHour {

	width: 100%;
	height: 35px;
	border-bottom: 1px solid #787878;
	border-right: 1px solid #787878;
	
}	


.calendarMarkToday {
	
	background-color: #DFECFF;
	
}

.calendarUserSelect {
	
	background-color: #95BC65;
	
}



.calendarEmptyCorner1 {
	
	/* calendarEmptyCorner1 height must be equal to calendarHeaderTitle's height */
	width: 100%;
	height: 40px;
	
	
}

.calendarEmptyCorner2 {
	
	/* calendarEmptyCorner1 height must be equal to calendarHeaderDayList's height */
	width: 100%;
	height: 30px;
	border-right: 1px solid #787878;
	border-bottom: 1px solid #787878;
	
}



.calendarDescription {
	
	width: 100%;
	background: #dedede;
	height: 35px; /*same as on class calendarDayHour*/
	border-bottom: 1px solid #787878;
	border-right: 1px solid #787878;
	font-size: 16px;
	
}



/*------------------------------Calendar - month view------------------------------*/


.calendarHeaderDay3 {
	
	width: 14.2857%; 
	
}

.calendarMainView2 {
	
	width: 100%;
	
}



.calendarDaysRow {
	
	width: 100%;
	min-height: 170px;
	max-height: 170px;
	#background: green;
	display: flex;
	margin-bottom: 12px;
}



.calendarDayTile {
	
	width: 14.2857%; 
	height: 100%;
	#background: #9A9A9A;
	border: 1px solid #787878;
	
	
}



.calendarDayTileHeader {
	
	width: 100%;
	height: 20px;
	background: #A6D1F3;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	padding-right: 10px;
	
	
}

.calendarDayTileHeader2 {
	
	width: 100%;
	height: 20px;
	#background: #A6D1F3;
	font-size: 15px;
	line-height: 20px;
	text-align: right;
	padding-right: 10px;
	
	
}


.calendarDayTileHour {
	
	width: 100%;
	height: 25px;
	#background: #736396;

	line-height: 25px;
	
}



/*--------------------------------- Login page ---------------------------------*/



.loginContainer {
	
	#height: 400px;
	width: 350px;
	
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	
	/*Vertically alignment*/
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	-ms-transform: translate(-50%, -30%);
	transform: translate(-50%, -30%);
	
	padding: 5px;
	#background-color: green;
	
	
	
}


.loginContainerTop {
	
	
	#height: 100px;
	width: 100%;
	#padding: 5px;
	text-align: center;
	font-size: 20px;
	#background-color: blue;
	
	margin-bottom: 10px;
}


.loginContainerTop img {
	width: 55px;
	height: auto;
}


.loginContainerMiddle {
	
	
	height: 250px;
	width: 100%;
	
	
	border: 1px solid #d9d9d9;
	border-radius: 5px; 
	
	padding: 20px;
	
	background-color: white;
	
}

.loginContainerBottom {
	
	margin-top: 20px;
	height: 50px;
	width: 100%;
	
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	
	border: 1px solid #d9d9d9;
	border-radius: 5px; 
	
	#background-color: red;
	
	
	text-decoration: blue !important;
	
}

.loginContainerBottom a {
	
	text-decoration: blue !important;
	color: blue !important;
	
}


.loginAlertsWindow {
	
	width: 100%;
	
}


/*--------------------------------- Forms ---------------------------------*/

input[type=text],[type=email],[type=password],[type=number]
{
	width: 100%;
	background-color: #efefef;
	color: #888;
	border: 2px solid #ddd;
	border-radius: 5px; 
	font-size: 15px;
	padding: 10px;
	box-sizing: border-box; 
	outline: none; 
	margin-bottom: 12px;

}
	
	
input[type=text]:focus
{

	border: 2px solid #5EBAE9; 
	background-color: #DFECFF; 
	color: black;
}	

input[type=email]:focus
{

	border: 2px solid #5EBAE9; 
	background-color: #DFECFF; 
	color: black;
}	

input[type=password]:focus
{

	border: 2px solid #5EBAE9; 
	background-color: #DFECFF; 
	color: black;
}	

input[type=number]:focus
{

	border: 2px solid #5EBAE9; 
	background-color: #DFECFF; 
	color: black;
}	


.loginButton
{
	width:100%;
	padding: 8px;
	text-align: center;
	font-size: 15px;
	color: white;
	text-decoration: none;
	background-color: #0053AE;

	height: 45px;
	border-radius: 7px; 
	
	display: inline-block;
}



.loginButton:hover {

	background-color: #1164BF;
}


.formAlerts {
	color: red;
	font-size: 12px;

}




/*--------------------------------- Register page ---------------------------------*/



.registerContainer {
	
	width: 350px;
	
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	
	/*Vertically alignment*/
	margin: 0;
	position: absolute;
	top: 30%;
	left: 50%;
	-ms-transform: translate(-50%, -30%);
	transform: translate(-50%, -30%);
	
	padding: 5px;

	
	
	
}


.registerContainerTop {
	
	width: 100%;
	text-align: center;
	font-size: 20px;

	
	margin-bottom: 10px;
}


.registerContainerTop img {
	width: 55px;
	height: auto;
}


.registerContainerMiddle {
	
	

	width: 100%;
	
	
	border: 1px solid #d9d9d9;
	border-radius: 5px; 
	
	padding: 20px;
	
	background-color: white;
	
}

.registerContainerBottom {
	
	margin-top: 20px;
	height: 50px;
	width: 100%;
	
	line-height: 50px;
	font-size: 15px;
	text-align: center;
	
	border: 1px solid #d9d9d9;
	border-radius: 5px; 
	
	text-decoration: blue !important;
	
}

.registerContainerBottom a {
	
	text-decoration: blue !important;
	color: blue !important;
	
}



.registerButton
{
	width:100%;
	padding: 8px;
	text-align: center;
	font-size: 15px;
	color: white;
	text-decoration: none;
	background-color: #0053AE;

	height: 45px;
	border-radius: 7px; 
	
	display: inline-block;
}



.registerButton:hover {

	background-color: #1164BF;
}



/*--------------------------------- Register error page ---------------------------------*/


.errorMessage {
		margin: auto;
		text-align: center;
		margin-top: 70px;
	
}





.errorMessageLogo {
	
	width: 100%;
	text-align: center;
	font-size: 20px;


}


.errorMessageLogo img {
	width: 55px;
	height: auto;
}






.goBackButton
{
	

	width:100px;
	padding: 8px;

	font-size: 15px;
	color: white;
	text-decoration: none;
	background-color: #832D35;
	vertical-align: middle; 
	border-radius: 7px; 	
	display: inline-block;
	
	
		
}


.goBackButton:hover{
	
	background-color: #721C24;
	
}



.errorAlert {
	
	display: flex;
	
}

.errorAlert a {
	
	margin-left:auto; 
	margin-right:0;
	cursor: pointer;
	
	
}




/*------------------------------Family Admin panel------------------------------*/


.adminPanelWrapper {
	
	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	
}



.adminPanelHeader {
	
	width: 100%;
	padding: 17px;
	font-size: 28px;
	font-weight: bold;
	
	display: flex;
	border-bottom: 3px solid #283454;
	
	
}

.adminPanelHeader:hover {

	background-color: #e0e0e0;
}

.adminPanelHeaderItem1 {
	
	width: 70%; 
	
}

.adminPanelHeaderItem2 {
	
	text-align: right;
	width: 30%; 
	
}


.adminTableWrapper {
	
	width: 100%;
	padding: 50px;
	overflow: auto;
	
}


table#adminPanelTable {
	border-collapse: collapse;
	width: 100%;
	
}

#adminPanelTable th {
  padding: 8px;
  text-align: center;
  border-bottom: 3px solid black; 
  color: black;
}

#adminPanelTable td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid black;

}

#adminPanelTable tr:hover {background-color:#f5f5f5;}


.adminTableFooter {

	text-align: left;
	margin-top: 20px;
	width: 100%;
	
}




/*------------------------------Create new event form------------------------------*/


.createEventFormWrapper {
	
	
	width: 700px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 20px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	background-color: white;
	
	
	
}

.createEventFormHeader {
	
	width: 100%;
	padding: 10px;
	font-size: 22px;
	font-weight: bold;

	border-bottom: 2px solid #283454;
	
	
}


.createEventFormBody {
	
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	
}




.createEventFormFooter {

	text-align: left;
	margin-top: 30px;
	width: 100%;
	padding-top: 20px;
	border-top: 1px solid #283454;
	
}






/* Resize datepicker */
div.ui-datepicker{
 font-size:15px;
}





/*------------------------------Events Control panel------------------------------*/


.eventsPanelWrapper {
	
	width: 100%;
	
	margin-left: auto;
	margin-right: auto;
	
	padding: 20px;
	
}


.eventsPanelHeader {
	
	margin-top: 20px;
	font-size: 20px;
	
}


.eventsPanelBody {
	
	width: 100%;
	margin-top: 25px;
	overflow: auto;
	
}


.singleEventView {
	
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	background-color: white;
	

	-webkit-box-shadow: 0px 0px 10px 0px rgba(222,222,222,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(222,222,222,1);
	box-shadow: 0px 0px 10px 0px rgba(222,222,222,1);
	
	width: 900px;
	
	
}


.eventViewHeader {
	
	width: 100%;
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;
	
	display: flex;
	border-bottom: 1px solid #d9d9d9;
	background-color: #e0e0e0;
	padding-left: 25px;
}






.eventViewHeaderItem1 {
	
	width: 70%; 
	
}

.eventViewHeaderItem2 {
	
	text-align: right;
	width: 30%; 
	
}


.eventViewBody {
	
	width: 100%;
	display: flex;

}


.eventViewBodyItem1 {
	
	width: 22%; 
	border-right: 1px solid #898989;
	
}

.eventViewBodyItem2 {
	
	
	width: 78%; 
	text-align: justify;
	font-size: 15px;
	padding: 10px;
	
}

.eventViewDescription {
	
	padding: 10px;
	font-size: 16px;
}



/*------------------------------Event detailed view------------------------------*/


.eventDetailViewWrapper {

	width: 100%;

	margin-left: auto;
	margin-right: auto;

}



.eventDetailViewHeader {

	width: 100%;
	padding: 15px;
	margin-top: 10px;
	font-size: 24px;
	font-weight: bold;
	display: flex;
	

}


.eventDetailViewHeaderItem1 {

	width: 70%; 

}

.eventDetailViewHeaderItem2 {

	text-align: right;
	width: 30%; 

}



.eventDetailViewBody {

	width: 100%;
	margin-top: 15px;

}



.eventDetailViewCard {

	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 35px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	background-color: white;


	-webkit-box-shadow: 0px 0px 10px 0px rgba(222,222,222,1);
	-moz-box-shadow: 0px 0px 10px 0px rgba(222,222,222,1);
	box-shadow: 0px 0px 10px 0px rgba(222,222,222,1);


}


.eventDetailCardHeader {

	width: 100%;
	padding: 10px;
	font-size: 17px;
	font-weight: bold;
	line-height: 37px;

	display: flex;
	border-bottom: 1px solid #d9d9d9;
	background-color: #e0e0e0;
	padding-left: 25px;
	
}


.eventDetailCardHeaderItem1 {

	width: 65%; 

}

.eventDetailCardHeaderItem2 {

	text-align: right;
	width: 35%; 

}


.eventDetailCardBody {

	width: 100%;

}

.eventDetailCardBasic {
	
	width: 100%;
	padding: 10px;
}



.eventDetailCardInfo {

	padding: 10px;
	font-size: 16px;
}


.eventDetailCardParticipants {
	
	width: 100%;
	display: flex;
	padding: 10px;
	font-size: 16px;
	border-top: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;

	
}

.eventDetailCardParticipantsItem1 {
	
	width: 80%;
	padding-left: 10px;
	line-height: 40px;
	
}


.eventDetailCardParticipantsItem2 {
	
	width: 80%;
	text-align: right;
	
}

.eventDetailCardDescription {
	
	padding: 20px;
	text-align: justify;
	border-bottom: 1px solid #c0c0c0;
	
}



.eventDetailCardChat { 
	
	width: 100%;
	padding:20px;
	
} 



.chat_header {
	
	font-weight: bold;
	margin-bottom: 10px;
	
}

.chat_body {
	
	width: 100%;
	height: 500px; 

	overflow-x: hidden; 
	overflow-y: auto; 
	text-align:justify; 
	
}



.chat_myComment {
	
	width: 100%;
	display: flex;
		
}

.chat_myComment_help {
	
	width: 10%
	
	
}

.chat_myComment_cnt {
	

	width: 90%;
 
	
}


.chat_myComment_box {
	
	display: inline-block;
	float: right;
	margin: 10px;
	
}

.chat_myComment_header {
	
	font-size: 12px;
	padding: 5px;
	color: #898989;
	
}

.chat_myComment_body {
	
	font-size: 14px;
	padding: 10px;
	background-color: #d5e0e6;
	border-radius: 10px; 
	
}





.chat_otherComments {
	
	width: 100%;
	display: flex;
		
}

.chat_otherComments_help {
	
	width: 10%
	
	
}

.chat_otherComments_cnt {
	

	width: 90%;
 
	
}


.chat_otherComments_box {
	
	display: inline-block;
	margin: 10px;
	
}

.chat_otherComments_header {
	
	font-size: 12px;
	padding: 5px;
	color: #898989;
	
}

.chat_otherComments_body {
	
	font-size: 14px;
	padding: 10px;
	background-color: #f3f5c7;
	border-radius: 10px; 
	
}



.chat_footer {
	
	width: 100%;
	padding-top: 20px;
	
}




/*------------------------------Event detailed view - attachements------------------------------*/


.eventDetailCardAttachements { 
	
	width: 100%;
	padding:20px;
	border-bottom: 1px solid #c0c0c0;
	
} 


.attachements_header {
	
	font-weight: bold;
	margin-bottom: 10px;
	
}

.attachements_body {
	
	width: 100%;
	height: 170px; 

	overflow-x: hidden; 
	overflow-y: auto; 
	text-align:justify; 
	
}

.attachements_footer {
	
	margin-top: 25px;
	
}


.attachement_cnt {
	
	width: 100%;
	height: 100%;
	border: 1px solid #c0c0c0;
	#background-color: blue; 
	
	
}


.attachement_content {
	
	width: 100%;
	height: 100%;
	#background-color: blue; 
	
}








.testtesttest12345 {
	
	width: 50px;
	height: 170px; 
	background-color: blue;
}













/*------------------------------Pomocnicze------------------------------*/

.test
{
	width:20%;
	height:120px;
	background-color: yellow;
	color: black;

	display: inline-block;
	
	#float:left; 
	padding: 10px;
	margin: 20px;

}

